# MacOS
.DS_Store

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Database
# If running mongo locally we don't commit it, but just in case
data/
backend/.env
backend/.env
.vercel
.env*.local
